BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ffffff
}
.tr_header {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #93bee2
}
.tr1 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #d6e7ef
}
.tr0 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #eeeeee
}
.hl1 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #336699
}
.hl0 {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #336699
}
.td_label {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #336699; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #93bee2
}
.td_data {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #eeeeee
}
.td_data_desc {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; LINE-HEIGHT: 13pt; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #eeeeee
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.banner {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #336699
}
.sys_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.user_info {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.shortcut {
	FONT-WEIGHT: bold; FONT-SIZE: 5pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #93bee2
}
.menu {
	FONT-WEIGHT: bold; FONT-SIZE: 5pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #d6e7ef
}
.howto {
	FONT-WEIGHT: bold; FONT-SIZE: 5pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #d6e7ef
}
.separator {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #003737
}
.pba {

}
PRE {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ffffff
}
FONT.title_font {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
FONT.section {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
FONT.sectionBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0000cc; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
FONT.errormessage {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #ff0000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
FONT.slogan {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TABLE.tm0102skyblue {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #eaf4fe
}
TABLE.tm0102lightyellow {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ffffee
}
TABLE.tm0103white {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ffffcc
}
TABLE.tm0104TypeA {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #b9beff
}
TABLE.tm0104TypeB {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #898ed3
}
TABLE.tm05Maint {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #c6ccff
}
TR {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TR.tm0102deepblue {
	FONT-WEIGHT: normal; FONT-SIZE: 15pt; COLOR: #000080; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #99ccff
}
TR.tm0103 {
	FONT-WEIGHT: normal; FONT-SIZE: 6pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #c6ccff
}
TR.tm0103purple {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #b98ce7
}
TR.tm0103lightblue {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #ddddff; bordercolor: #CCCCCC
}
TR.tm0308TypeA {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #c1ffad
}
TR.tm0308TypeB {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #b0e99d
}
TR.tm0308TypeH {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #a0d590
}
TR.tm0601TypeA {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #feffc9
}
TR.tm0601TypeB {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #feecfe
}
TR.tm0601TypeH1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TR.tm0601TypeH2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #001d7e; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-COLOR: #b5deab
}
TR.tm0601blue {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #5139df; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
FONT {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
FONT.white {
	FONT-SIZE: 10pt; COLOR: #ffffff; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
LI {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
/*
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
INPUT.button {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #93bee2; COLOR: #336699; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
INPUT.text {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #336699; COLOR: #93bee2; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
SELECT {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #93bee2; COLOR: #336699; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
.dropdown {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #93bee2; COLOR: #336699; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
*/
.listbox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #93bee2; WIDTH: 250px; COLOR: #336699; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
.listbox_large {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; BACKGROUND: #93bee2; WIDTH: 750px; COLOR: #336699; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva
}
A:link {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #c800c8; TEXT-DECORATION: underline
}
A:active {
	COLOR: #797ec3; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
A.orange:link {
	FONT-SIZE: 7pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange:hover {
	FONT-SIZE: 7pt; COLOR: #ff9933; TEXT-DECORATION: underline
}
A.orange:active {
	FONT-SIZE: 7pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange:visited {
	FONT-SIZE: 7pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange8:link {
	FONT-SIZE: 8pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange8:hover {
	FONT-SIZE: 8pt; COLOR: #ff9933; TEXT-DECORATION: underline
}
A.orange8:active {
	FONT-SIZE: 8pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.orange8:visited {
	FONT-SIZE: 8pt; COLOR: #ff9933; TEXT-DECORATION: none
}
A.deepgreen9:link {
	FONT-SIZE: 9pt; COLOR: #00665a; TEXT-DECORATION: none
}
A.deepgreen9:hover {
	FONT-SIZE: 9pt; COLOR: #469e94; TEXT-DECORATION: underline
}
A.deepgreen9:active {
	FONT-SIZE: 9pt; COLOR: #00665a; TEXT-DECORATION: none
}
A.deepgreen9:visited {
	FONT-SIZE: 9pt; COLOR: #00665a; TEXT-DECORATION: none
}
A.deepgreen9ov:link {
	FONT-SIZE: 9pt; COLOR: #469e94; TEXT-DECORATION: underline
}
A.deepgreen9ov:hover {
	FONT-SIZE: 9pt; COLOR: #469e94; TEXT-DECORATION: underline
}
A.deepgreen9ov:active {
	FONT-SIZE: 9pt; COLOR: #469e94; TEXT-DECORATION: underline
}
A.deepgreen9ov:visited {
	FONT-SIZE: 9pt; COLOR: #469e94; TEXT-DECORATION: underline
}
A.black:link {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva; TEXT-DECORATION: none
}
A.black:hover {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva; TEXT-DECORATION: none
}
A.black:active {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva; TEXT-DECORATION: none
}
A.black:visited {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva; TEXT-DECORATION: none
}
UNKNOWN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Verdana
}
#popupcalendar {
	LEFT: 0px; VISIBILITY: hidden; WIDTH: 185px; POSITION: absolute; TOP: 0px; HEIGHT: 130px; BACKGROUND-COLOR: white
}
A.cal-DayLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-DayLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-DayLink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-DayLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: blue; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.cal-TextBox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: #ffffcc
}
A.cal-TodayLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.cal-TodayLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.cal-GreyDate {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Verdana,  Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.cal-GreyInvalidDate {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #999999; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: line-through
}
.cal-DayCell {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: white
}
.cal-HeadCell {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #99cccc
}
.cal-Table {
	BORDER-LEFT-COLOR: #99cccc; BORDER-BOTTOM-COLOR: #99cccc; BORDER-TOP-COLOR: #99cccc; BACKGROUND-COLOR: black; BORDER-RIGHT-COLOR: #99cccc
}
