      ol.parenthesized-roman-counter {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: table;
      }

      ol.parenthesized-roman-counter li {
        counter-increment: step-counter;
        display: table-row;
      }

      ol.parenthesized-roman-counter li::before {
        content: "(" counter(step-counter, lower-roman) ")";
        margin-right: 5px;
        width: 2em;
        text-align: left;
        display: table-cell;
      }

      ol.parenthesized-counter {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: table;
      }

      ol.parenthesized-counter li {
        counter-increment: step-counter;
        display: table-row;
      }

      ol.parenthesized-counter li::before {
        content: "(" counter(step-counter, lower-latin) ")";
        margin-right: 5px;
        width: 2em;
        text-align: left;
        display: table-cell;
      }